@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    background-color: #0c0c09;
  }

  label {
    cursor: pointer;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
    padding: 0px;
  }

  a {
    outline: none;
    display: inline-block;

    color: inherit;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: ease;
  }

  button {
    display: inline-block;

    padding: 0;

    outline: none;
    margin: 0;

    box-shadow: 0px;
    background-color: transparent;

    font-family: inherit;
    color: inherit;
    fill: currentColor;

    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  ul,
  li,
  ol {
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
}

.logo:hover svg,
.logo:hover path {
  fill: #ffd698;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.wrapper {
  padding-left: 82px;
  padding-right: 82px;
  margin: 0 auto;
}

.border_custom {
  border-top: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, #ddbc82 0%, #9b7860 31%, #ddbc82 65%, #9b7860 100%) 1;
}
.border_overlay {
  border: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, #ddbc82 0%, #9b7860 31%, #ddbc82 65%, #9b7860 100%) 1;
}

.line {
  background: linear-gradient(90deg, #ddbc82 0%, #9b7860 31%, #ddbc82 65%, #9b7860 100%);
}

.icon {
  stroke: #fff;
}

.phoneContactList_button:hover .icon {
  stroke: #ffd698;
}

.phoneContactList_link .icon {
  stroke: #ffd698;
}

.social_link:hover .icon,
.location:hover .icon {
  stroke: #ffd698;
}

.nav_link:hover .line::before,
.nav_link:hover .line::after {
  transform: translateX(0);
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.icon-up {
  fill: #ecddc6;
}

button:hover .icon-up {
  fill: #ffd698;
  stroke: #ffd698;
  transform: fill;
  transform: stroke;
  transition-duration: 250ms;
  transition-timing-function: ease;
}
