@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    background-color: #0c0c09;
  }

  input {
    cursor: text;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
    padding: 0px;
  }

  a {
    outline: none;
    display: inline-block;

    color: inherit;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: ease;
  }

  button {
    display: inline-block;

    padding: 0;

    outline: none;
    margin: 0;

    box-shadow: 0px;
    background-color: transparent;

    font-family: inherit;
    color: inherit;
    fill: currentColor;

    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  ul,
  li,
  ol {
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
}

.logo:hover svg,
.logo:hover path {
  fill: #ffd698;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.wrapper {
  padding-left: 82px;
  padding-right: 82px;
  margin: 0 auto;
}

.border_custom {
  border-top: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, #ddbc82 0%, #9b7860 31%, #ddbc82 65%, #9b7860 100%) 1;
}

.border_overlay {
  border: 1px;
  border-style: solid;
  border-image: linear-gradient(90deg, #ddbc82 0%, #9b7860 31%, #ddbc82 65%, #9b7860 100%) 1;
}

.line {
  background: linear-gradient(90deg, #ddbc82 0%, #9b7860 31%, #ddbc82 65%, #9b7860 100%);
}

.icon {
  stroke: #fff;
}

.phoneContactList_link .icon {
  stroke: #ffd698;
}

.cross {
  stroke: #ecddc6;
}

.form_button:hover .cross {
  stroke: #ffd698;
}

.social_link:hover .icon,
.location:hover .location_icon {
  stroke: #ffd698;
}

.nav_link:hover .line::before,
.nav_link:hover .line::after {
  transform: translateX(0);
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.icon-up {
  fill: #ecddc6;
}

.icon_down {
  stroke: #7e664d;
}

.select_persons:hover .icon_down {
  stroke: #ffd698;
}

button:hover .icon-up {
  fill: #ffd698;
  stroke: #ffd698;
  transform: fill;
  transform: stroke;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.contact_item:hover .contact_icon {
  fill: #ffd698;
}

.select_persons span {
  width: 0;
  height: 0;
}

.section-wrapper {
  min-height: calc(100vh - 416px - 374px);
}

.react-datepicker-wrapper:hover + .icon_down,
.calendar_button:hover .icon_down {
  stroke: #ffd698;
}
/* стилі для календаря */
.react-datepicker__header.react-datepicker__header--time.react-datepicker__header--time--only,
.react-datepicker-time__header {
  display: none;
  width: 0;
  height: 0;
  position: absolute;
  top: -100%;
}

.date-picker .react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;

  color: #f7a033;
  border: 1px solid #ffd698;
  border-radius: 0.3rem;
}

.date-picker .react-datepicker__month-container,
.date-picker .react-datepicker__header {
  background-color: #0c0c09;
}

.date-picker .react-datepicker__header {
  border-bottom: 1px solid #f7a033;
}

.date-picker .react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: #f7a033;
}

.date-picker .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: #f7a033;
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  top: 6px;
  width: 9px;
}

.date-picker .react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #ffd698;
}

.date-picker .react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 0.3rem;
  background-color: #ecddc6;
  color: #0c0c09;
}

.date-picker .react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0.3rem;
  background-color: #f7a033;
  color: #0c0c09;
}
